*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
#game{
    width: 100vw;
    height: 100vh;
    background: url('images/background.jpg') repeat-x;
    background-size: cover;
    overflow: hidden;
    position: relative;

}


#player{

    position: absolute;
    width: auto;
    height: 120px;
    bottom: 0px;
    left: 100px;
}

#yeti{

    position: absolute;
    width: auto;
    height: 200px;
    bottom: 0px;
    left: 0px;

}


#house{

    position: absolute;
    width: auto;
    height: 300px;
    bottom: 0px;
    left: 1100px;
    right: 50px;


}


.obstacle{


    position: absolute;
    width: auto;
    height: 60px;
    bottom: 0px;
}


#end{

    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    width: 100%;
    display: none;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;

}

#result{

    font-size: 70px;
    margin-bottom: 16px;
    font-weight: bold;
}



#message{

    font-size: 30px;
}


#playAgain{

    padding: 10px 20px;
    background: skyblue;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin-top: 30px;
    border-radius: 10px;
    
}

#start{

    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;


}


#startBtn{

    padding: 10px 20px;
    font-size: 24px;
    border: none;
    background: skyblue;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 220px;

}


.gameName{

    font-size: 70px;
    margin-top: 20px;
    font-weight: bold;
    color: white;

}


#snow{

    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;

}


.snowflake{

    position: absolute;
    top: -13px;
    animation-name: fall;
    animation-timing-function: linear;

}


@keyframes fall{

    to{

        transform: translateY(110vh) rotate(360deg);
    }
}