*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
#game{
    width: 100vw;
    height: 100vh;
    background: url('images/background.jpg') repeat-x;
    background-size: cover;
    overflow: hidden;
    position: relative;

}


#player{

    position: absolute;
    width: auto;
    height: 120px;
    bottom: 50px;
    left: 100px;
}

#yeti{

    position: absolute;
    width: auto;
    height: 200px;
    bottom: 50px;
    left: 0px;

}


#house{

    position: absolute;
    width: auto;
    height: 300px;
    bottom: 5px;
    left: 1100px;
    right: 50px;


}
