*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: Arial, Helvetica, sans-serif;

}

#game{
    width: 100vw;
    height: 100vh;
    background: url('images/background.jpg') repeat-x;
    background-size: cover;
    overflow: hidden;
    position: relative;
    background-position-x: 0;

}


#player{

    position: absolute;
    width: auto;
    height: 120px;
    bottom: 0px;
    left: 100px;
}

#yeti{

    position: absolute;
    width: auto;
    height: 200px;
    bottom: 0px;
    left: 0px;

}


#house{

    position: absolute;
    width: auto;
    height: 300px;
    bottom: 0px;

}


.obstacle{


    position: absolute;
    width: auto;
    height: 60px;
    bottom: 0px;
}


#end{

    position: absolute;
    top: 0;
    left: 0;
    background: url('images/screen.webp') center/cover no-repeat;
    width: 100%;
    display: none;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;

}

#result{

    font-size: 70px;
    margin-bottom: 16px;
    font-weight: bold;
}



#message{

    font-size: 30px;
}


#playAgain{

    padding: 10px 20px;
    background: skyblue;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin-top: 30px;
    border-radius: 10px;
    
}

#nextLvlBtn{

    padding: 10px 20px;
    background: skyblue;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin-top: 30px;
    border-radius: 10px;
    display: none;
}

#start{

    position: absolute;
    width: 100%;
    background: url('images/screen.webp')center/cover no-repeat;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;

}

#start::before{

    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.55);
    top: 0;
    left: 0;
    z-index: -1;

}

#startBtn{

    padding: 10px 20px;
    font-size: 24px;
    border: none;
    background: skyblue;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 50px;

}


.gameName{

    font-size: 70px;
    margin-top: 20px;
    font-weight: bold;
    color: white;

}


#snow{

    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;

}


.snowflake{

    position: absolute;
    top: -13px;
    animation-name: fall;
    animation-timing-function: linear;

}


@keyframes fall{

    to{

        transform: translateY(110vh) rotate(360deg);
    }
}

#showLevel{

    position: absolute;
    top: 5px; 
    left: 15px;
    color: white;
    font-size: 40px;
    font-weight: bold;

}

.endBtnDiv{

    display: flex;
    gap: 20px;

}

#homeBtn{

    padding: 10px 20px;
    background: skyblue;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin-top: 30px;
    border-radius: 10px;

}


#bgMuteBtn{

    position: absolute;
    top: 8px;
    right: 15px;
    color: skyblue;
    font-weight: 600;
    border: 2px solid skyblue;
    font-size: 18px;
    padding: 8px 14px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
    z-index: 10;

}

#bgMuteBtn i{

    font-size: 20px;
    color: skyblue;
    transition: color 0.3s ease;

}

#bgMuteBtn:hover{

    transform: scale(1.05);
}



#bgMuteBtn:hover i{

    color: rgb(56, 158, 199);

}

#instructions{

    background: rgba(0, 0, 0, 0.55);
    color: rgb(99, 243, 236);
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    line-height: 2;
    padding: 20px;
    border-radius: 15px;
    padding-bottom: 50px;

}

#instructions h2{

    font-size: 40px;
    margin-bottom: 5px;
    color: white;

}

#instructions ul{

    list-style-type: none;
    
}

.txtVisible{

    background: rgba(0,0,0,0.55);
    padding: 50px 50px;
    border-radius: 13px;
    text-align: center;

}