*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
#game{
    width: 100vw;
    height: 100vh;
    background: skyblue;
    overflow: hidden;
    position: relative;

}


#player{

    position: absolute;
    width: auto;
    height: 120px;
    bottom: 50px;
    left: 100px;
}